<header>
        <div data-type="label" data-device="MeinWetter" data-get="fc3_day_of_week" style="display:inline"></div>
</header>
<center>
<div class="top-space-3x">
        <div data-type="weather"
             data-device="MeinWetter"
             data-get="fc3_condition"
             style="font-size:150%">
         </div>

        <div data-type="label"
             data-device="MeinWetter"
             data-get="fc3_condition"
             class="cell">

         </div><big>&#8595;</big>
         <div data-type="label"
             data-device="MeinWetter"
             data-get="fc3_low_c"
             data-limits="[-50,0,10,25,30,40]"
             data-colors='["#9999ff","#ffbdff","#aa6900","#ff6900","#ff3333","#ff0000"]'
             data-unit="%B0C%0A"
             class="inline">
         </div><big>&#8593;</big>
         <div data-type="label"
             data-device="MeinWetter"
             data-get="fc3_high_c"
             data-limits="[-50,0,10,25,30,40]"
             data-colors='["#9999ff","#ffbdff","#aa6900","#ff6900","#ff3333","#ff0000"]'
             data-unit="%B0C%0A"
             class="inline">
        </div>
</div>
</center>
