<header>HOME</header>
<div class="cell">
<div data-type="button" data-url="index.html"data-icon="fa-home" data-on-background-color="#505050"></div>
<div data-type="button" data-url="weather.html" data-icon="fa-cloud"></div>
<div data-type="button" data-url="heizung.html" data-icon="fa-thermometer-full" data-on-background-color="#505050"></div>
<div data-type="button" data-url="solar.html" data-icon="fa-sun-o" data-on-background-color="#505050"></div>
<div data-type="button" data-url="cam.html" data-icon="fa-video-camera" data-on-background-color="#505050"></div>
<div data-type="button" data-url="system.html" data-icon="fa-cogs" data-on-background-color="#505050"></div>
<div data-type="clock" data-format="H:i" class="top-space-2x bigger"></div>			  
<div data-type="clock" data-format="d-m-Y"></div>
</div>
