<header>Lüftung</header>

<div class="inline">
   <div data-type="symbol" data-device="hz.Storkair" data-get="Bypass_Sommermodus"
        data-states='["nein","ja"]'
        data-icons='["oa-weather_sun","oa-weather_sun"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">Sommermodus</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="hz.Storkair" data-get="Stufe"
        data-states='["niedrig","mittel","hoch"]'
        data-icons='["oa-vent_ventilation_level_1","oa-vent_ventilation_level_2","oa-vent_ventilation_level_3"]'
        data-colors='["black","black","black"]'
        data-background-icons='["fa-circle","fa-circle","fa-circle"]'
        data-background-colors='["#aa6900","#aa6900","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">Stufe</div>
</div>
