<header>Temperatur</header>
<div class="cell top-space">
	<div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Außen</div>
	<div dataltype="label" class="inline darker">&nbsp;</div>
	<div data-type="label" data-device="dim_Aussentemperatur" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="cell">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Wohnzimmer</div>
	<div data-type="label" data-device="wz.TempSensor" data-get="humidity" data-unit="%" class="inline"></div>
        <div data-type="label" data-device="wz.TempSensor" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="cell">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Schlafzimmer</div>
	<div data-type="label" data-device="sz.TempSensor" data-get="humidity" data-unit="%" class="inline"></div>
        <div data-type="label" data-device="sz.TempSensor" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

