<header>Garagen</header>
<div class="inline">
   <div data-type="switch" data-device="ga.Garagentor.Anja" class="cell" data-icon="fa-car"></div>
   <div data-type="label" class="narrow darker small">Anja</div>
</div>
<div class="inline">
   <div data-type="switch" data-device="ga.Garagentor.Thomas" class="cell" data-icon="fa-car"></div>
   <div data-type="label" class="narrow darker small">Thomas</div>
</div>
<div class="inline">
   <div data-type="switch" data-device="ga.Garagenlicht" class="cell"></div>
   <div data-type="label" class="narrow darker small">Garagenlicht</div>
</div>

