<header>Kino</header>

<div class="inline">
   <div data-type="switch" data-device="HUEDevice2" class="cell" data-icon="fa-lightbulb-o"></div>
   <div data-type="label" class="narrow darker small">Licht</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="kn.Entertain.sw" class="cell" data-icon="fa-gamepad"></div>
   <div data-type="label" class="narrow darker small">Entertain</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="kn.SatRec" class="cell" data-icon="oa-it_satellite_dish"></div>
   <div data-type="label" class="narrow darker small">Receiver</div>
</div>
