<header>Wohnzimmer</header>

<div class="inline">
   <div data-type="switch" data-device="HUEDevice3" class="cell" data-icon="fa-lightbulb-o"></div>
   <div data-type="label" class="narrow darker small">Stehlampe</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="HUEDevice5" class="cell" data-icon="fa-lightbulb-o"></div>
   <div data-type="label" class="narrow darker small">TV Licht</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="wz.lgtv"
        data-states='["off","on"]'
        data-icons='["fa-television","fa-television"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">TV</div>
</div>

<div class="cell">
<div class="inline">
   <div data-type="switch" data-device="wz.Luftbefeuchter" class="cell" data-icon="fs-humidity"></div>
   <div data-type="label" class="narrow darker small">Luftbefeuchter</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="wz.Notebook" class="cell" data-icon="fa-plug"></div>
   <div data-type="label" class="narrow darker small">Notebook</div>
</div>

</div>


