<header>Wohnzimmer</header>
<div class="cell">

<div class="inline">
   <div data-type="switch" data-device="HUEDevice3" class="cell" data-icon="fa-lightbulb-o"></div>
   <div data-type="label" class="narrow darker small">Stehlampe</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="wz.Luftbefeuchter" class="cell" data-icon="fa-thermometer-three-quarters"></div>
   <div data-type="label" class="narrow darker small">Luftbefeuchter</div>
</div>

</div>

<div class="cell">

<div class="inline">
   <div data-type="switch" data-device="HUEDevice5" class="cell" data-icon="fa-television"></div>
   <div data-type="label" class="narrow darker small">TV Licht</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="wz.Notebook" class="cell" data-icon="fa-plug"></div>
   <div data-type="label" class="narrow darker small">Notebook</div>
</div>

</div>


