<header>Temperatur Heizung/Lüftung</header>
<div class="newline top-space">
	<div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Rücklauf Temp</div>
	<div dataltype="label" class="inline darker">&nbsp;</div>
	<div data-type="label" data-device="dim_Ruecklauftemperatur" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Rücklauf Soll</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Ruecklaufsolltemperatur" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Vorlauf Temp</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Vorlauftemperatur" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Wärmequelle</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Waermequelletemperatur" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Warmwasser</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Warmwassertemperatur" data-get="temperature" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Abluft</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Temp_Abluft" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Fortluft</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Temp_Fortluft" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Zuluft</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Temp_Zuluft" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Komfort</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Temp_Komfort" data-fix="1" data-unit="%B0C%0A&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>
