<header>Abfall</header>
<div data-type="symbol" data-device="MuellterminDummy" data-get="Restmuell" 
	data-states='["[0-2]","(([3-9])|([1-9][0-9]))"]'
	data-icons='["fa-trash warn fa-spin","fa-trash warn"]'
	data-colors='["black","black"]' 
	data-background-icons='["fa-circle","fa-circle"]'
	data-background-colors='["#aa6900","#505050"]'
	data-hide-on="never"
	class="cell top-space">
</div>

<div data-type="symbol" data-device="MuellterminDummy" data-get="GrueneTonne"
        data-states='["[0-2]","(([3-9])|([1-9][0-9]))"]'
        data-icons='["fa-trash warn fa-spin","fa-trash warn"]'
        data-colors='["green","green"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#aa6900","#505050"]'
        data-hide-on="never"
        class="cell">
</div>

<div data-type="symbol" data-device="MuellterminDummy" data-get="GelberSack"
        data-states='["[0-2]","(([3-9])|([1-9][0-9]))"]'
        data-icons='["fs-bag warn fa-spin","fs-bag warn"]'
        data-colors='["yellow","yellow"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#aa6900","#505050"]'
        data-hide-on="never"
        class="cell">
</div>


