<header>Status Heizung/Lüftung</header>
<div class="newline top-space">
	<div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Ventilator</div>
	<div dataltype="label" class="inline darker">&nbsp;</div>
	<div data-type="label" data-device="dim_Ventilator_history" data-get="state" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Verdichter</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Verdichter_history" data-get="state" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Flanschheizung</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Flanschheizung_history" data-get="state" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Zusatzheizung</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_2Waermeerzeuger_history" data-get="state" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Umwälzpumpe FBH</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_Heizungsumwaelzpumpe_history" data-get="state" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Umwälzpumpe WW</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="dim_WWUmwaelzpumpe_history" data-get="state" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Lüftung Vorheizung</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Betriebsstunden_Vorheizung" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Lüftung Niedrig</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Betriebsstunden_Niedrig" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Lüftung Mittel</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Betriebsstunden_Mittel" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>

<div class="newline">
        <div data-type="label" class="inline darker left">&nbsp;&nbsp;&nbsp;Lüftung Hoch</div>
        <div dataltype="label" class="inline darker">&nbsp;</div>
        <div data-type="label" data-device="hz.Storkair" data-get="Betriebsstunden_Hoch" data-fix="0" data-unit="h&nbsp;&nbsp;&nbsp;" class="inline right"></div>
</div>
