<header>Schlafzimmer</header>


<div class="inline">
   <div data-type="switch" data-device="HUEDevice4" class="cell" data-icon="fa-lightbulb-o"></div>
   <div data-type="label" class="narrow darker small">Nachtlicht</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="HUEDevice1" class="cell" data-icon="fa-lightbulb-o"></div>
   <div data-type="label" class="narrow darker small">Deckenlicht</div>
</div>

<div class="cell">

<div class="inline">
   <div data-type="switch" data-device="sz.Fernseher" class="cell" data-icon="fa-television"></div>
   <div data-type="label" class="narrow darker small">TV</div>
</div>

<div class="inline">
   <div data-type="switch" data-device="sz.Klima.sw" class="cell" data-icon="fa-snowflake-o"></div>
   <div data-type="label" class="narrow darker small">Klima</div>
</div>

</div>
