<header>Heizung I/O</header>

<div class="inline">
   <div data-type="symbol" data-device="dim_Ventilator_output"
        data-states='["off","on"]'
        data-icons='["oa-vent_ventilation","oa-vent_ventilation"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">Ventilator</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="dim_Verdichter_output"
        data-states='["off","on"]'
        data-icons='["oa-sani_domestic_waterworks","oa-sani_domestic_waterworks"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">Verdichter</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="dim_Heizungsumwaelzpumpe_output"
        data-states='["off","on"]'
        data-icons='["oa-sani_pump","oa-sani_pump"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">FBH Umwälz</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="dim_Flanschheizung_output"
        data-states='["off","on"]'
        data-icons='["oa-sani_boiler_temp","oa-sani_boiler_temp"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">Flanschhzg</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="dim_2Waermeerzeuger_output"
        data-states='["off","on"]'
        data-icons='["oa-sani_boiler_temp","oa-sani_boiler_temp"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">Zusatzhzg</div>
</div>

<div class="inline">
   <div data-type="symbol" data-device="dim_WWUmwaelzpumpe_output"
        data-states='["off","on"]'
        data-icons='["oa-sani_pump","oa-sani_pump"]'
        data-colors='["black","black"]'
        data-background-icons='["fa-circle","fa-circle"]'
        data-background-colors='["#505050","#aa6900"]'
        data-hide-on="never"
        class="cell"></div>
   <div data-type="label" class="narrow darker small">WW Umwälz</div>
</div>
